
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">

    <h1> </h1>
    <div class="about">
        <h1>MVC Blog Sitesi ile keyifli zamanlar</h1><h1> </h1><p>MVC Blog Sitesi 2018 yılında web programlama dersi projesi olarak ortaya çıkmıştır. Keyifli zamanlar dileriz.</p>
        <h1> </h1><p>Selim Can ERMİŞ  -  Mehmet Veysel CANSEVDİ<p>
        <p> Sakarya Üniversitesi Bilgisayar Mühendisliği</p>
    </div>
</div>

