@model IEnumerable<MvcBlogSite.Models.Yorum>

@{ 
    Layout = null;
}

<h5 class="card-header">Son Yorumlar</h5>
<div class="row">
    <div class="col-lg-12">
        <ul>
            @foreach(var item in Model)
            {
                <li>@item.icerik</li>
            }
        </ul>
    </div>
</div>