@model IEnumerable<MvcBlogSite.Models.Makaleler>


@{
    Layout = null;
}

<h5 class="card-header">En Çok Okunan Makaleler</h5>
<div class="row">
    <div class="col-lg-12">
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="/Home/MakaleDetay/@item.Makaleid">@item.Baslik</a> (@item.Okunma)</li>
            }
        </ul>
    </div>
</div>