<h5 class="card-header">Blog Arama</h5>
@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post))
{
    <div class="card-body">
        <div class="input-group">
            <input id="Ara" name="Ara" type="text" class="form-control" placeholder="Ara...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" value="Ara" type="submit">Ara</button>
            </span>
        </div>
    </div>
}
